Repository Bram-Hub/LEGUP, pull requests merged in 2022-07, with the labels that each got.

#179 Implemented general empty puzzle functionality and started with sudoku
  src/main/java/edu/rpi/legup/app/GameBoardFacade.java
  src/main/java/edu/rpi/legup/model/PuzzleImporter.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipImporter.java
  src/main/java/edu/rpi/legup/puzzle/fillapix/FillapixImporter.java
  src/main/java/edu/rpi/legup/puzzle/heyawake/HeyawakeImporter.java
  src/main/java/edu/rpi/legup/puzzle/lightup/LightUpImporter.java
  src/main/java/edu/rpi/legup/puzzle/masyu/MasyuImporter.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/NurikabeImporter.java
  src/main/java/edu/rpi/legup/puzzle/shorttruthtable/ShortTruthTableImporter.java
  src/main/java/edu/rpi/legup/puzzle/skyscrapers/SkyscrapersImporter.java
  src/main/java/edu/rpi/legup/puzzle/sudoku/SudokuImporter.java
  src/main/java/edu/rpi/legup/puzzle/treetent/TreeTentImporter.java
  src/main/java/edu/rpi/legup/ui/CreatePuzzleDialog.java
  src/main/java/edu/rpi/legup/ui/HomePanel.java
  src/main/java/edu/rpi/legup/ui/LegupUI.java
  src/main/java/edu/rpi/legup/ui/PuzzleEditorPanel.java
Labels: puzzle editor

#176 Battleship: Adjacent Ships Contradiction Rule
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleshipBoard.java
  src/main/java/edu/rpi/legup/puzzle/battleship/rules/AdjacentShipsContradictionRule.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/rules/IsolateBlackContradictionRule.java
  src/test/java/puzzles/battleship/rules/AdjacentShipsContradictionRuleTest.java
Labels: battleship

#181 Puzzle Editor Dimension Validation
  src/main/java/edu/rpi/legup/app/GameBoardFacade.java
  src/main/java/edu/rpi/legup/model/Puzzle.java
  src/main/java/edu/rpi/legup/model/PuzzleImporter.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShip.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipImporter.java
  src/main/java/edu/rpi/legup/puzzle/fillapix/Fillapix.java
  src/main/java/edu/rpi/legup/puzzle/fillapix/FillapixImporter.java
  src/main/java/edu/rpi/legup/puzzle/heyawake/Heyawake.java
  src/main/java/edu/rpi/legup/puzzle/heyawake/HeyawakeImporter.java
  src/main/java/edu/rpi/legup/puzzle/lightup/LightUp.java
  src/main/java/edu/rpi/legup/puzzle/lightup/LightUpImporter.java
  src/main/java/edu/rpi/legup/puzzle/masyu/Masyu.java
  src/main/java/edu/rpi/legup/puzzle/masyu/MasyuImporter.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/Nurikabe.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/NurikabeImporter.java
  src/main/java/edu/rpi/legup/puzzle/shorttruthtable/ShortTruthTable.java
  src/main/java/edu/rpi/legup/puzzle/shorttruthtable/ShortTruthTableImporter.java
  src/main/java/edu/rpi/legup/puzzle/skyscrapers/Skyscrapers.java
  src/main/java/edu/rpi/legup/puzzle/skyscrapers/SkyscrapersImporter.java
  src/main/java/edu/rpi/legup/puzzle/sudoku/Sudoku.java
  src/main/java/edu/rpi/legup/puzzle/sudoku/SudokuImporter.java
  src/main/java/edu/rpi/legup/puzzle/treetent/TreeTent.java
  src/main/java/edu/rpi/legup/puzzle/treetent/TreeTentImporter.java
  src/main/java/edu/rpi/legup/ui/CreatePuzzleDialog.java
  src/main/java/edu/rpi/legup/ui/HomePanel.java
  src/main/java/edu/rpi/legup/ui/ProofEditorPanel.java
  src/main/java/edu/rpi/legup/ui/PuzzleEditorPanel.java
Labels: enhancement, puzzle editor

#200 Improvements to dimension validator
  src/main/java/edu/rpi/legup/app/GameBoardFacade.java
  src/main/java/edu/rpi/legup/controller/CursorController.java
  src/main/java/edu/rpi/legup/ui/CreatePuzzleDialog.java
  src/main/java/edu/rpi/legup/ui/HomePanel.java
  src/main/java/edu/rpi/legup/ui/PuzzleEditorPanel.java
Labels: enhancement, puzzle editor

#185 UI issue 100
  src/main/java/edu/rpi/legup/ui/DynamicView.java
  src/main/java/edu/rpi/legup/ui/LegupUI.java
  src/main/java/edu/rpi/legup/ui/ProofEditorPanel.java
Labels: ui

#206 Fix Opening Puzzles, TreeTentRule Fixes
  bin/main/edu/rpi/legup/legup/config
  src/main/java/edu/rpi/legup/puzzle/treetent/rules/NoTentForTreeContradictionRule.java
  src/main/java/edu/rpi/legup/puzzle/treetent/rules/TentForTreeBasicRule.java
  src/main/java/edu/rpi/legup/puzzle/treetent/rules/TreeForTentBasicRule.java
  src/main/resources/edu/rpi/legup/legup/config
Labels: bug, light up, tree tent, short truth table, priority, battleship

#210 Fixed directory preference issue
  src/main/java/edu/rpi/legup/ui/ProofEditorPanel.java
Labels: bug, ui

#217 Create issue and pull request templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: new feature

#224 New Icons
  README.md
  src/main/java/edu/rpi/legup/ui/HomePanel.java
  src/main/java/edu/rpi/legup/ui/LegupPanel.java
  src/main/java/edu/rpi/legup/ui/ProofEditorPanel.java
  src/main/java/edu/rpi/legup/ui/PuzzleEditorPanel.java
  src/main/java/edu/rpi/legup/ui/proofeditorui/treeview/TreePanel.java
  src/main/java/edu/rpi/legup/ui/proofeditorui/treeview/TreeToolBarButton.java
  src/main/java/edu/rpi/legup/ui/proofeditorui/treeview/TreeToolbarPanel.java
  src/main/resources/edu/rpi/legup/homepanel/edit.png
  src/main/resources/edu/rpi/legup/homepanel/newpuzzle.png
  src/main/resources/edu/rpi/legup/homepanel/openproof.png
  src/main/resources/edu/rpi/legup/images/Legup/AddChild.png
  src/main/resources/edu/rpi/legup/images/Legup/Check All.png
  src/main/resources/edu/rpi/legup/images/Legup/Check.png
  src/main/resources/edu/rpi/legup/images/Legup/Collapse.png
  src/main/resources/edu/rpi/legup/images/Legup/DelChild.png
  src/main/resources/edu/rpi/legup/images/Legup/Directions.png
  src/main/resources/edu/rpi/legup/images/Legup/Hint.png
  src/main/resources/edu/rpi/legup/images/Legup/Merge.png
  src/main/resources/edu/rpi/legup/images/Legup/Submit.png
  src/main/resources/edu/rpi/legup/images/Legup/homepanel/Check All.png
  src/main/resources/edu/rpi/legup/images/Legup/homepanel/new_puzzle_file.png
  src/main/resources/edu/rpi/legup/images/Legup/homepanel/new_puzzle_file.tif
  src/main/resources/edu/rpi/legup/images/Legup/homepanel/proof_file.png
  src/main/resources/edu/rpi/legup/images/Legup/homepanel/puzzle_file.png
Labels: enhancement, ui
