Repository Bram-Hub/LEGUP, pull requests merged in 2022-06, with the labels that each got.

#126 Removed artificial splash screen delay
  src/main/java/edu/rpi/legup/ui/LegupUI.java
Labels: ui

#147 Nurikabe rule name changes
  src/main/java/edu/rpi/legup/puzzle/nurikabe/rules/CannotReachCellBasicRule.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/rules/UnreachableWhiteCellContradictionRule.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/rules/nurikabe_reference_sheet.txt
Labels: nurikabe

#142 Battleship cells use their own enums as the casted type.
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShip.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipCell.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipCellController.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipCellFactory.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipClue.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipElementView.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipImporter.java
  src/main/java/edu/rpi/legup/puzzle/battleship/BattleShipType.java
  src/main/java/edu/rpi/legup/puzzle/nurikabe/NurikabeCell.java
  src/main/java/edu/rpi/legup/puzzle/treetent/TreeTentType.java
Labels: battleship

#154 Adjustments made to Batch Grader
  src/main/java/edu/rpi/legup/ui/LegupUI.java
Labels: batch grader
